<div id="<%= dom_id staff %>">
  <p>
    <strong>Full name:</strong>
    <%= staff.full_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= staff.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= staff.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= staff.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= staff.password %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= staff.role_id %>
  </p>

</div>
