<%= form_with(model: order) do |form| %>
<% if order.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :unit_price, class: label_class %>
          <%= form.text_field :unit_price, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :quantity, class: label_class %>
          <%= form.number_field :quantity, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :discount, class: label_class %>
          <%= form.number_field :discount, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :total, class: label_class %>
          <%= form.text_field :total, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date, class: label_class %>
          <%= form.date_field :date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :payment_type, class: label_class %>
          <%= form.text_field :payment_type, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :product_id, class: label_class %>
          <%= form.select :product_id,options_from_collection_for_select( Product.all, 'id', 'name', selected = order.product_id), class: label_class%>

      </div>
  <div class="mb-6">
        <%= form.label :customer_id, class: label_class %>
          <%= form.select :customer_id,options_from_collection_for_select( Customer.all, 'id', 'first_name', selected = order.customer_id), class: label_class%>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if order.persisted? %>
<%= link_to "Cancel", order, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", orders_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
