<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Product</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to products_path, class: button_class(theme: "transparent") do %>
      All Products
      <% end %>
      <%= link_to edit_product_path(@product), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @product.name %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @product.price %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @product.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @product.description %></p>
      </li>
      <li>
        <p class="font-semibold">Category:</p>
        <p><%= @product.category %></p>
      </li>
      <li>
        <p class="font-semibold">Supplier:</p>
        <p><%= @product.supplier %></p>
      </li>
  </ul>
</div>
