<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Supplier</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to suppliers_path, class: button_class(theme: "transparent") do %>
      All Suppliers
      <% end %>
      <%= link_to edit_supplier_path(@supplier), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Name:</p>
        <p><%= @supplier.name %></p>
      </li>
      <li>
        <p class="font-semibold">Address:</p>
        <p><%= @supplier.address %></p>
      </li>
      <li>
        <p class="font-semibold">Phone:</p>
        <p><%= @supplier.phone %></p>
      </li>
      <li>
        <p class="font-semibold">Email:</p>
        <p><%= @supplier.email %></p>
      </li>
      <li>
        <p class="font-semibold">Others details:</p>
        <p><%= @supplier.others_details %></p>
      </li>
  </ul>
</div>
